@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'mono';
	src: url('/fonts/mono.woff2');
	font-weight: 500;
	font-style: normal;
}

body{
    font-family: 'mono','Courier New', Courier, monospace;
    font-size: 9pt;
}

.noControl mux-player {
	/* Hide all controls at once */
	--controls: none;
  }

  mux-player {
    clip-path: inset(1px 1px);
}

#toolText{
    white-space: nowrap;
}
.onNorm .toolLetter{
    opacity:0;
    animation: typeOn .15s 1 forwards;
}

@keyframes typeOn {
    0% {
      opacity:0;
    }
    
    70% {
      opacity:0;
    }
    100%{
    opacity:1;
    }
  }